<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h3>
            <img alt="FC24 Icon" width="50" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BW42VJ89kcKHwbWw72YTBwHaHW%26pid%3DApi&f=1&ipt=eece27c601c8c67bc6b6b9dc698af8a0df80ddb538bd0e585e54b7830de01444&ipo=images">
            FC24
            </h3>
            <h4>
                <img src="FMTIcon24.ico" alt="FMT image 1" width="70px" class="c"
                />
                FC24 Editor Tool | Mod Manager
            </h4>
            <a href="https://github.com/FMTDev/FMT.Releases/releases" target="_blank">Frostbite Modding Tool download</a>
            <hr />

            <h4>FC24 Gameplay Mod</h4>
            <a href="https://www.mediafire.com/folder/7nptoksudyfsb/Gameplay" target="_blank">Paulv2k4 FC24 Gameplay Mods</a>
            <br>
            <lite-youtube videoid="bitHRbpGbxs"></lite-youtube>
            <hr />

            <h4>FC24 Career Mod</h4>
            <a href="https://www.mediafire.com/folder/dqeto40059ynf/Career" target="_blank">Paulv2k4 FC24 Career Mods</a>
            <hr />
        </div>
    </div>
</div>