<div class="row">
    <div class="col-md-12">
        <div class="">
            <h1>
            FC25
            </h1>
            <h2>FMT - Frostbite Modding Tool</h2>
            <a href="https://github.com/FMTDev/FMT.Releases/releases" target="_blank">Frostbite Modding Tool download</a>
            <hr />

            <h4>FC25 Gameplay Mod</h4>
            <p>PaulV FC25 Gameplay Mods</p>
            <a href="https://www.mediafire.com/folder/ztm8d4ko75sdc/Gameplay" 
                target="_blank"
                >List of FC25 Gameplay Mod releases</a>
            <br>
            <iframe width="99%" height="400px"
            src="https://www.youtube.com/embed/cybtXf56W9A?autoplay=1&mute=1">
            </iframe> 
            <hr />

            <h4>FC25 Career Mod</h4>
            <a href="https://www.mediafire.com/folder/7r4h0wl5ff2fj/Career" target="_blank">
                List of FC25 Career Mod releases</a>
            <hr />

            <h5>How to make your own FC25 gameplay mods using Frostbite Modding Tool (FMT)</h5>
            <h6>Introduction</h6>
            <iframe width="99%" height="400px"
            src="https://www.youtube.com/embed/2r7jW2PU81M?autoplay=1&mute=1">
            </iframe> 

            <h6>Error System</h6>
            <iframe width="99%" height="400px"
            src="https://www.youtube.com/embed/heoRiVl3RfI?autoplay=1&mute=1">
            </iframe> 
        </div>
    </div>
</div>