<div class="row">
    <div class="card col-md-12">

        <style>
            c 
            {
                background: url('SIT.png');
                width: 600px;
                text-align: center;
                margin: 0 auto 0 auto;
            }
        </style>

        <div class="card-body">
            <h3>
                <img width="50" src="https://web-store.escapefromtarkov.com/themes/eft/images/logo.png" alt="Escape from Tarkov Logo" />
                Escape from Tarkov
            </h3>
            <p>
                Escape from Tarkov is a hardcore and realistic online first-person shooter with RPG elements and a story-driven walkthrough. The game is set in the fictional Norvinsk region, where private military companies are fighting for control over the area. Players can engage in raids, complete quests, and interact with various factions while managing their character's health, equipment, and inventory.
            </p>
            <p>
                I was known as <strong>Paulov-t</strong> in the Escape from Tarkov modding community, where I developed the "multiplayer" of "SPT" when I created the project named <a href="">Stay in Tarkov</a>.
            </p>
            <strong>Note:
                I am no longer part of the project. I now play official Tarkov PvP and PvE.
            </strong>
            <br>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4>Projects:</h4>
                    <ul>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Bepinex.Framework" target="_blank">Paulov.Bepinex.Framework</a> - A framework for BepInEx mods.
                        </li>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Unity.BepInEx.Networking" target="_blank">Paulov.Unity.BepInEx.Networking</a> - A networking library for BepInEx mods that provides a simple and efficient way to handle network communication in Unity games.
                        </li>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Tarkov.Minimal" target="_blank">Paulov.Tarkov.Minimal</a> - A minimalistic mod for Escape from Tarkov that provides basic functionality.
                        </li>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Tarkov.Local" target="_blank">Paulov.Tarkov.Local</a> - A mod that allows you to play Escape from Tarkov offline with fixes to local games.
                        </li>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Tarkov.Launcher.WPF" target="_blank">Paulov.Tarkov.Launcher.WPF</a> - A WPF-based launcher for Escape from Tarkov that provides a user-friendly interface for managing mods and settings.
                        </li>
                        <li>
                            <a href="https://github.com/paulov-t/Paulov.Tarkov.LogRedirector" target="_blank">Paulov.Tarkov.LogRedirector</a> - A mod that redirects Escape from Tarkov logs to the BepInEx log system, allowing for better log management and analysis.
                        </li>
                       
                    </ul>
                </div>
            </div>

            <br>

            <div class="c">
                <img src="SIT.png" alt="Stay in Tarkov" width="600px" class="c"
                />
            </div>

            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="https://github.com/StayInTarkov" target="_blank"><i class="fab fa-github ilink text-white p-1"></i>Stay in Tarkov - GitHub</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://discord.gg/f4CN4n3nP2" target="_blank"><i class="fab fa-discord ilink text-white p-1"></i>Stay in Tarkov - Discord</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://docs.stayintarkov.com" target="_blank"><i class="fa fa-book ilink text-white p-1"></i>Stay in Tarkov - Documentation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://hub.docker.com/r/stayintarkov/stayintarkov" target="_blank"><i class="fab fa-docker ilink text-white p-1"></i>Stay in Tarkov - Docker by @devbence</a>
                </li>
              </ul>
            
              <hr>
              <p> The largest ever mod that enabled Coop for Escape from Tarkov offline ("SPT"). This mod was written from scatch using a combination .NET, Typescript, Node & Reverse Engineering.  </p>
              <p> This mod had my heart and soul poured into it and after 2 years achieved it's goal at succesfully replicating Live experience and created a framework for other groups to use. </p>
              <p> I learned a tremendous amount about <code>Open Source Project Management</code>, <code>Branching</code>, <code>GitHub Actions</code>, <code>Unity Game Engine</code> and <code>Game Networking</code>.</p>
              <p> This project is <code>open source</code> and actively forked by other groups such as <a href="https://github.com/project-fika">Project Fika</a>. </p>
              <p> <strong>I am no longer part of the project</strong></p>
         
        </div>
    </div>
</div>
